


.trackbar-data{
  background: linear-gradient(90deg, rgba(var(--color-from),1) 0%, rgba(var(--color-to),1) 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}
