body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 5em; */
}

.main{
    display: flex;
    flex-direction: row;
    width: 100vw;
}
.info{
    padding-left: 30px;
    min-width: 400px;
}

.tip-box{
    position: absolute;
    left: 10px;
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


