body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 5em; */
}

.main{
    display: flex;
    flex-direction: row;
}
.info{
    padding-left: 30px;
    width: 500px;
}

